.modulo-disabled {
	display: block;
	width: 100%;
	padding: 1em;
	margin-top: 2em;
	background-color: gainsboro;
	box-shadow: 10px 10px darkgray;
	border-radius: 2em;
}

.modulo-disabled>.title {
	height: 3em;
}

.modulo-disabled>.progress {
	width: 100%;
	height: 2em;
	margin-inline: auto;
	margin-top: 1em;
	border-radius: 2em;
	background-color: white;
}

.modulo {
	display: block;
	width: 100%;
	padding: 1em;
	text-decoration: none;
	background-color: paleturquoise;
	color: hsl(200 50% 50%);
	box-shadow: 10px 10px hsl(180 75% 50% / 0.8);
	border-radius: 2em;
	transition: box-shadow ease-out 0.2s, color ease-out 0.1s;
}

.modulo:hover {
	color: hsl(200 50% 35%);
	box-shadow: 13px 13px hsl(180 75% 50% / 0.7);
}

.modulo>.title {
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modulo>.progress {
	display: block;
	appearance: none;
	width: 100%;
	height: 2em;
	margin-inline: auto;
	margin-top: 1em;
	border-radius: 2em;
	border: 0.3em solid white;
	background-color: white;
}

.modulo>.progress::-webkit-progress-bar {
	background-color: white;
}

.modulo>.progress::-webkit-progress-value {
	background-image: linear-gradient(to right, hsl(200 50% 50%), hsl(180 75% 50%));
	border-radius: 2em;
}

.modulo>.progress::-moz-progress-bar {
	background-image: linear-gradient(to right, hsl(200 50% 50%), hsl(180 75% 50%));
	border-radius: 2em;
}
