.pregunta {
	width: 100%;
	padding: 1em;
	text-decoration: none;
	color: hsl(200 50% 50%);
	background-color: paleturquoise;
	box-shadow: 10px 10px hsl(180 75% 50% / 0.7);
	border: 2px solid transparent;
	border-radius: 1em;
	display: flex;
	align-items: center;
	transition: box-shadow ease-out 0.2s, color ease-out 0.1s;
}

.pregunta:hover {
	color: hsl(200 50% 35%);
	box-shadow: 13px 13px hsl(180 75% 50% / 0.7);
}

.pregunta>h3 {
	padding-inline-start: 0.5em;
	flex-grow: 1;
}

.pregunta>img {
	filter: drop-shadow(2px 2px 2px hsl(180 75% 25% / 0.25));
}

#paper a:not(:first-child) {
	margin-top: 1.5em;
}
