* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif, system-ui;
	/* background-color: hsl(180 50% 80%); */
	/* background-image: url('../assets/images/bg.jpg'); */
	/* background-repeat: no-repeat; */
	/* background-attachment: fixed; */
	/* background-size: cover; */
}

main {
	width: min(100vw, 900px);
	min-height: 100svh;
	margin-inline: auto;
	padding: 2em 1em;
}

#paper {
	background-color: white;
	width: 100%;
	min-height: 90svh;
	padding: 1.5em;
	border-radius: 2em;
	background-image:
		linear-gradient(hsl(0 0% 90%) 2px, transparent 2px),
		linear-gradient(90deg, hsl(0 0% 90%) 2px, transparent 2px);
	background-size: 44px 44px;
	box-shadow: 3px 3px 10px 3px hsl(from black h s l / 0.1);
}
